In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('shots_data.csv')
df.head()

     team     x     y  fgmade
0  Team A -23.1   3.5       0
1  Team A   0.0  25.1       1
2  Team A   0.5   1.0       1
3  Team A  -5.6   5.2       0
4  Team A   4.0  14.5       1

In [15]:
def getDist(x, y):
    return np.sqrt(np.square(x) + np.square(y))

In [16]:
def getZone(x_vals, y_vals):
    zones = []
    for i in range(len(x_vals)):
        
        x = x_vals[i]
        y = y_vals[i]
        dist = getDist(x, y)
        
        if abs(x) > 22.0 and y <= 7.8:
            zones.append('C3')
        elif dist > 23.75 and y > 7.8:
            zones.append('NC3')
        else:
            zones.append('2PT')
    return zones

In [17]:
df['zone'] = getZone(df['x'], df['y'])
df.head()

     team     x     y  fgmade zone
0  Team A -23.1   3.5       0   C3
1  Team A   0.0  25.1       1  NC3
2  Team A   0.5   1.0       1  2PT
3  Team A  -5.6   5.2       0  2PT
4  Team A   4.0  14.5       1  2PT

In [18]:
teamA = df[df['team'] == 'Team A']
teamB = df[df['team'] == 'Team B']
teamB.head()

       team     x     y  fgmade zone
280  Team B   2.5   6.2       0  2PT
281  Team B   7.4  18.3       1  2PT
282  Team B   1.1   0.1       0  2PT
283  Team B  -1.6  25.6       0  NC3
284  Team B -14.4  21.7       1  NC3

In [20]:
twos_A = teamA[teamA['zone'] == '2PT']
per_two_A = len(twos_A) / len(teamA)

twos_B = teamB[teamB['zone'] == '2PT']
per_two_B = len(twos_B) / len(teamB)

print(per_two_A, per_two_B)

0.6071428571428571 0.5821428571428572

In [21]:
nc3_A = teamA[teamA['zone'] == 'NC3']
per_nc3_A = len(nc3_A) / len(teamA)

nc3_B = teamB[teamB['zone'] == 'NC3']
per_nc3_B = len(nc3_B) / len(teamB)

print(per_nc3_A, per_nc3_B)

0.32142857142857145 0.34285714285714286

In [22]:
c3_A = teamA[teamA['zone'] == 'C3']
per_c3_A = len(c3_A) / len(teamA)

c3_B = teamB[teamB['zone'] == 'C3']
per_c3_B = len(c3_B) / len(teamB)

print(per_c3_A, per_c3_B)

0.07142857142857142 0.075

In [24]:
print(per_two_A + per_nc3_A + per_c3_A)
print(per_two_B + per_nc3_B + per_c3_B)

1.0
1.0

In [28]:
made_twos_A = twos_A[twos_A['fgmade'] == 1]
num_made_twos_A = len(made_twos_A)

made_twos_B = twos_B[twos_B['fgmade'] == 1]
num_made_twos_B = len(made_twos_B)

att_twos_A = len(twos_A)
att_twos_B = len(twos_B)

In [29]:
made_nc3_A = nc3_A[nc3_A['fgmade'] == 1]
num_made_nc3_A = len(made_nc3_A)

made_nc3_B = nc3_B[nc3_B['fgmade'] == 1]
num_made_nc3_B = len(made_nc3_B)

att_nc3_A = len(nc3_A)
att_nc3_B = len(nc3_B)

In [30]:
made_c3_A = c3_A[c3_A['fgmade'] == 1]
num_made_c3_A = len(made_c3_A)

made_c3_B = c3_B[c3_B['fgmade'] == 1]
num_made_c3_B = len(made_c3_B)

att_c3_A = len(c3_A)
att_c3_B = len(c3_B)

In [31]:
def getEFG(made, att, three_pm):
    numerator = made + (0.5 * three_pm)
    return numerator / att

In [32]:
A_3pm = num_made_nc3_A + num_made_c3_A
B_3pm = num_made_nc3_B + num_made_c3_B

In [39]:
A_twos_efg = getEFG(num_made_twos_A, att_twos_A, 0)
A_nc3_efg = getEFG(num_made_nc3_A, att_nc3_A, num_made_nc3_A)
A_c3_efg = getEFG(num_made_c3_A, att_c3_A, num_made_c3_A)

In [40]:
B_twos_efg = getEFG(num_made_twos_B, att_twos_B, 0)
B_nc3_efg = getEFG(num_made_nc3_B, att_nc3_B, num_made_nc3_B)
B_c3_efg = getEFG(num_made_c3_B, att_c3_B, num_made_c3_B)

In [41]:
print(A_twos_efg, A_nc3_efg, A_c3_efg)
print(B_twos_efg, B_nc3_efg, B_c3_efg)

0.4 0.48333333333333334 0.6
0.4601226993865031 0.546875 0.35714285714285715